- content_for :meta_title do
  \- Tracks
  \-
  = @track.file_title

= turbo_frame_tag "player" do
  .sticky.bottom-0.w-full.bg-gray-700
    :javascript
      setTimeout(() => {
        const data = {
          name: "#{@track.title || @track.file_title}",
          artist: "#{@track.album.artist.name}",
          album: "#{@track.album.title}",
          duration: "#{@track.duration}",
          url: "#{stream_track_url(@track)}"
        };
        const event = new CustomEvent("playSong", { detail: data });
        document.dispatchEvent(event);
      }, 500)

    .flex.flex-col.bardplayer
      - if @track.duration
        %progress.bardplayer-progress.w-full.bg-gray-700
      .flex.flex-row.p-3.pt-6.pb-6
        .flex.flex-row.items-center.w-128
          .bardplayer-contoller--pause.cursor-pointer
            = render IconComponent.new(name: :pause, size: 4)
          .bardplayer-contoller--play.hidden.cursor-pointer
            = render IconComponent.new(name: :play, size: 4)
          - if @track.duration
            .flex.flex-row.font-thin.ms-4
              .bardplayer-duration
                %span.bardplayer-duration--minutes 00:00
                \:
                %span.bardplayer-duration--seconds
                  = @track.duration_mm_ss
        .flex.flex-row
          - if @track.album.last_fm_image.present?
            = image_tag @track.album.last_fm_image, class: "rounded-lg", width: 48
          - else
            = render IconComponent.new(name: :album, size: 6)
          .ms-4.flex.flex-col
            .font-bold.text-md
              = @track.title || @track.file_title
            .font-thin.text-sm
              = link_to artist_path(@track.album.artist), "data-turbo-frame" => "content" do
                = @track.album.artist.name
              &mdash;
              = link_to album_path(@track.album), "data-turbo-frame" => "content" do
                = @track.album.title
