- content_for :meta_title do
  \- Artists
  \- #{@artist.name}
  

.p-16
  .text-5xl
    = @artist.name

  .pt-8.grid.grid-cols-4.gap-4
    - @artist.albums.each do |album|
      = link_to album_path(album) do
        .p-6.shadow-md.bg-sky-50.flex.flex-col
          .text-2xl
            = album.title
          .text-sm.font-light
            = pluralize(album.tracks.count, "Track", "Tracks")