.rounded-lg.shadow-lg.bg-gray-700.p-4
  .flex.flex-col
    .flex.flex-row.justify-center
      .font-thin.break-all.overflow-auto
        = render ArtistHeaderComponent.new(artist: @album.artist)
    = link_to album_path(@album) do
      .flex.flex-row.justify-center.pt-4
        .flex.flex-row.justify-center.p-2
          - if @album.last_fm_image.present?
            = image_tag @album.last_fm_image, class: "rounded-lg"
          - else
            = render IconComponent.new(name: :album, size: 22)
      .flex.flex-row.justify-center.pt-4
        .text-lg.font-bold.break-all.overflow-auto
          = @album.title
      .flex.flex-row.justify-center
        .text-sm.font-thin
          = @album.year
