= link_to artist_path(@artist) do
  .flex.flex-row.items-center
    - if @artist.valid_image?
      = image_tag @artist.last_fm_image
    - else
      .rounded.bg-gray-600.p-1
        = render IconComponent.new(name: :artist, size: 2)
    .ms-2(class="#{text_size}")
      = @artist.name