= turbo_frame_tag "player" do
  .playlist-item.hidden.w-144.flex.flex-row.items-center.justify-between.border-b.border-gray-700.p-3(class="hover:bg-gray-900")
    .w-8.playlist-position
    .w-16.pe-4
      - if @track.album.last_fm_image.present?
        = image_tag @track.album.last_fm_image, class: "rounded-lg"
      - else
        = render IconComponent.new(name: :album, size: 4)
    .flex.flex-col.w-full
      = link_to track_path(@track), "data-turbo-frame" => "player" do
        = @track.title || @track.file_title
      .font-thin.text-sm.flex.flex-row
        = link_to artist_path(@track.album.artist), "data-turbo-frame" => "content", class: "playlist-artist" do
          = @track.album.artist.name
        .ms-1.me-1 &mdash;
        = link_to album_path(@track.album), "data-turbo-frame" => "content", class: "playlist--album" do
          = @track.album.title

  :javascript
    setTimeout(() => {
      const data = {
        name: "#{@track.title || @track.file_title}",
        artist: "#{@track.album.artist.name}",
        artistUrl: "#{artist_path(@track.album.artist)}",
        album: "#{@track.album.title}",
        albumUrl: "#{album_path(@track.album)}",
        durationMMSS: "#{@track.duration_mm_ss}",
        duration: "#{@track.duration}",
        fileFormat: "#{@track.file_format}",
        url: "#{stream_track_url(@track)}"
      };
      const addEvent = new CustomEvent("addToPlaylist", { detail: data });
      document.dispatchEvent(addEvent);
    }, 100);
