- content_for :meta_title do
  \- '#{@filter}' Artists

.p-8
  .text-4xl.uppercase.text-gray-400
    = link_to artists_path do
      Artists

= render LetterFilterComponent.new(letters: artist_letters, filter_path: "filter_artists_path", filter: @filter)

.p-8.w-full.grid.grid-cols-4.gap-4
  - @artists.each do |artist|
    = render ArtistComponent.new(artist: artist)

.p-8
  = paginate @artists
