- content_for :meta_title do
  \- Artists
  \- #{@album.artist.name}
  \- Album
  \- #{@album.title}
  

.p-8.text-gray-400
  .text-4xl.uppercase
    = link_to artists_path do
      Artists
  .text-2xl
    = @album.artist.name
  .pt-4.text-2xl.uppercase
    = link_to artist_path(@album.artist) do
      Albums
  .text-xl
    = @album.title

.p-8.pt-0
  .flex.flex-col
    - @album.tracks.each do |track|
      .flex.flex-row.justify-between.border-b.border-gray-700.p-3(class="hover:bg-gray-900")
        %div
          = track.file_title
        %div
          = track.file_format
